$primary: #4ecb71;
$secondary: #323232;
$dark: #000;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

$body-bg: $dark;
$body-color: $white;
$navbar-dark-active-color: $primary;

$font-family-sans-serif: 'Recia-Variable', system-ui, -apple-system, 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$headings-font-family: 'Manrope-Variable', system-ui, -apple-system, 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
