/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 300.0 'wght' 700.0;
*
* available axes:

* 'wght' (range from 300.0 to 700.0)

* 'wght' (range from 300.0 to 700.0)

*/

@font-face {
	font-family: 'Recia-Variable';
	src: url('./fonts/Recia-Variable.woff2') format('woff2'),
		url('./fonts/Recia-Variable.woff') format('woff'),
		url('./fonts/Recia-Variable.ttf') format('truetype');
	font-weight: 300 700;
	font-display: swap;
	font-style: normal;
}

/**
  * This is a variable font
  * You can controll variable axes as shown below:
  * font-variation-settings: 'wght' 300.0 'wght' 700.0;
  *
  * available axes:
  
  * 'wght' (range from 300.0 to 700.0)
  
  * 'wght' (range from 300.0 to 700.0)
  
  */

@font-face {
	font-family: 'Recia-Variable';
	src: url('./fonts/Recia-VariableItalic.woff2') format('woff2'),
		url('./fonts/Recia-VariableItalic.woff') format('woff'),
		url('./fonts/Recia-VariableItalic.ttf') format('truetype');
	font-weight: 300 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Manrope-Variable';
	src: url('./fonts/Manrope.woff2') format('woff2'), url('./fonts/Manrope.ttf') format('truetype');
	font-weight: 300 700;
	font-display: swap;
	font-style: normal;
}

@import './variable.scss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../node_modules/bootstrap/scss/bootstrap';

.Manrope-Variable {
	font-family: 'Manrope-Variable', sans-serif;
}

body {
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
}
